body {
    font-family: verdana;
    list-style-type: none;
    display: inline-block;
    
}

.cor {
    color:#fff;
    background:  #333;
    padding: 20px;
}
.estilo {
    line-height: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 600px ){
    .container  {
        width: 100%;  
 
}     
}